@model ECommStoreWeb.IdentityModels.Profile

@{
    ViewData["Title"] = "Profile";
}

<div class="row">
    <div class="col">
        <h4>User Profile</h4>
    </div>
    <div class="col text-end">
        <form asp-action="Logout" method="post">
            <input type="submit" value="Logout" class="btn btn-sm btn-danger" />
        </form>
    </div>
</div>
<hr />
<div class="row mt-5">
    @if (Model.PhotoLink != null)
    {
        <div class="col-md-4">
            <img class="img-thumbnail" src="~/ProfileImages/@Model.PhotoLink" alt="..." style="width:200px; height:200px;" />
        </div>
    }
    <div class="col-md-4">
        <form asp-action="Profile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="PhotoLink" class="control-label"></label>
                <input hidden asp-for="PhotoLink" class="form-control" />
                <span asp-validation-for="PhotoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
