@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager


@if (_signInManager.IsSignedIn(User))
{
	var user = await _signInManager.UserManager.GetUserAsync(User);
	if(await _userManager.IsInRoleAsync(user, "seller"))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
		</li>
	}
	else if(await _userManager.IsInRoleAsync(user, "customer"))
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Cart">Cart</a>
		</li>
	}
}